.responce-wrapper{
    min-width: 100vw;
    padding-top: 18px;
    padding-left: 16px;
    padding-right: 16px;
    height: 150vh;
    overflow-y: scroll;
}
.responce-make-private{
    margin-top: 18px;
}
.responce-descriprion{
    margin-top: 18px;
}   