.responce-wrapper{
    min-width: 100vw;
    padding-top: 18px;
    padding-left: 16px;
    padding-right: 16px;
    position: fixed;
    left: 0%;
    transform: translateX(200%);
    height: 100vw;
    z-index: 100000;
    transition: 0.4s;
}
.responce-wrapper.secondStep{
    transform: translateX(100%);
}
.responce-make-private{
    margin-top: 18px;
}
.responce-descriprion{
    margin-top: 18px;
}   