.textArea{
    border-radius: 10px;
    width: 100%;
    height: 42px;
    background-color: #20303f;
    padding: 12px 17px 11px 16px;

    font-family: "SF Pro Display 400";
    font-weight: 400;
    font-size: 16px;
    line-height: 110%;
    letter-spacing: 0.01em;
    color: white;
    
}
.textAreaHidden{
    z-index: -1;
    opacity: 0;
    border-radius: 10px;
    width: calc(100% - 28px);
    height: 42px;
    background-color: #20303f;
    padding: 12px 17px 11px 16px;
    position: absolute;
    font-family: "SF Pro Display 400";
    font-weight: 400;
    font-size: 16px;
    line-height: 110%;
    letter-spacing: 0.01em;
    color: white;
}
.block{
    width: 100%;
}
.text{
    font-family: "SF Pro Display 400";
    font-weight: 400;
    font-size: 16px;
    line-height: 110%;
    width: 100%;
    max-width: 100%;
}
.textArea::placeholder{
    font-family: "SF Pro Display 400";
    font-weight: 400;
    font-size: 16px;
    line-height: 110%;
    letter-spacing: 0.01em;
    color:  #daf5fe;
    opacity: 0.5;
}