.main{
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    z-index: 2000;
    
}
.slideWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}
.main .slide{
    margin-top: auto;
    margin-bottom: 20px;
}
.sliderPhoto{
    max-height: 75vh;
    object-fit: contain;
    width: fit-content;
    max-width: 80vw;

}
.blackArea{
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.8;
}
.navigationBlock{
    z-index: 500;
    display: flex;
    width: 100vw;
    padding: 0 20px;
    gap: 25px;
    justify-content: center;
    align-items: center;
    width: fit-content;
}
.nextArrow , .prevArrow{
    color: white ;
    font-size: 40px;
    width: 55px;

}
.prevArrow{
    transform: rotate(180deg);
}