.shablon{
    display: flex;
    flex-direction: column;
    border: 1px dashed #636267;;
    border-radius: 10px;
}
.shablonTop{
    margin-top: 4px;
    margin-left: 4px;
    margin-right: 4px;
    display: flex;
    gap: 4px;
    overflow-x: scroll;
    border-radius: 7px;
}
.shablonTop img{
    border-radius: 7px;
    min-width: 183px;
    height: 133px;
    object-fit: cover;
}
.shablonBottom{
    display: flex;
    justify-content: space-between;
    padding: 13px 18px 13px 17px;
    align-items: center;
}
.shablonBottomLeft{
    font-family: "SF Pro Display";
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    color: white;
}
.shablonBottomRight{
    display: flex;
    gap: 7px;
}
.circle{
    width: 28px;
    height: 28px;
    position: relative;
    border-radius: 50%;
    background-color: #223d52;
}
.circle svg{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}
