.saved-wraper{
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
}
.saved-top-wrapper{
    margin-bottom: 20px;
}
.hamster{
    margin-top: 96px;
}