.textContainer{
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1.67px;
    flex-direction: column;

    p{
        font-family: "SF Pro Display 400";
        font-weight: 400;
        font-size: 13px;
        line-height: 117%;
        letter-spacing: 0.02em;
        color: #daf5fe;
        span{
            color: #62bbff;
        }
    }
    .one{
        align-items: center;
        display: flex;
        gap: 4px;
    }
}