.ChoiceCategory{
    background: #18222d;
    bottom: 0;
    display: flex;
    flex-direction: column;
    left: 0;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 17px;
    position: fixed;
    width: 100%;
    z-index: 400;
    padding-bottom: 20px;
    overflow-y: scroll;
    height: 100vh;
    min-height: 100vh;
}

.ChoiceCategory .OneInput{
    flex-grow: 0;
}

.categoryContainer{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 12px;
}
.anotherText{
    /* Default text */
    position: absolute;
    color: rgb(149, 151, 158);
    font-family: "SF Pro Display";
    font-size: calc(44px* 0.32);
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0%;
    text-align: center;
    margin: auto;
    width: 100%;
    left: 50%;
    bottom: 50%;
    transform: translateX(-50%) translateY(-50%);
    bottom: 40%;
}