.main{
    min-width: 300vw;
    display: flex;
    padding-right: 16px;
    gap: 32px;
    align-items: center;
    transition: 0.3s;
    
}
.choicerBlock{
    
    width: calc(100vw - 32px);
}
.text{
    font-family: "SF Compact Rounded";
    font-weight: 500;
    font-size: 23px;
    text-align: center;
    color: #daf5fe;
    margin-top: 100px;
    max-width: 260px;
    margin-left: auto;
    margin-right: auto;
}