.about__u-text{
    font-family: "SF Pro Display 400";
    font-weight: 400;
    font-size: 17.33px;
    line-height: 21px;
    letter-spacing: 0.173px;
    min-height: 42px;
    color: white;
    text-align: left;
    outline: none;
    background-color: #242c37;
    overflow-y: hidden;
    resize: none;
    border-radius: 10px 10px 6px 6px;
    padding: 11px 16px;
}
.ur__town .also{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px 6px 10px 10px;
    width: 100%;
    height: 44.33px;
    background: #20303f;
    border: none;
    cursor: pointer;
}
.ur__town .also p{
    font-family: "SF Pro Display";
    font-weight: 500;
    font-size: 17px;
    line-height: 106%;
    text-align: center;
    color: #2ea5ff;
    
}
.ur__town{
    display: flex;
    flex-direction: column;
    position: relative;
}

