.shablon-wrapper{
    min-width: 100vw;
    width: 100%;
    padding-top: 23px;
    padding-left: 16px;
    padding-right: 16px;
    left: 0;
    top: 0;
    position: absolute;
    z-index: 200;
    background: rgb(24, 34, 45);
    padding-bottom: 20px;
    .shablon-name{
        margin-top: 18px;
    }
    .shablon-title{
        color: rgb(255, 255, 255);
        font-family: "SF Pro Display 400";
        font-size: 17.67px;
        font-weight: 400;
        line-height: -1px;
        letter-spacing: 0%;
        text-align: left;
        margin-left: 16px;
    }
    .shablon-notice{
        max-width: 256px;
        color: rgb(218, 245, 254);
        font-family: "SF Pro Display 400";
        font-size: 13.33px;
        font-weight: 400;
        line-height: 15.64px;
        letter-spacing: 2%;
        text-align: left;
        margin-left: 16px;
        margin-top: 6px;
    }
    .shablon-description{
        margin-top: 18px;
    }
    .shablons-wrap{
        margin-top: 8px;
    }
    .shablonIcon{
        width: 30px;
        height: 30px;
        position: relative;
        border-radius: 6.67px;
        background-color: #5E5CE6;
    }
    .shablonIcon__inner{
        
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50);
    }
}

