.shablon-wrapper{
    min-width: 100vw;
    padding-top: 23px;
    padding-left: 16px;
    padding-right: 16px;
}
.shablon-title{
    color: rgb(255, 255, 255);
    font-family: "SF Pro Display 400";
    font-size: 17.67px;
    font-weight: 400;
    line-height: -1px;
    letter-spacing: 0%;
    text-align: left;
    margin-left: 16px;
}