.wrapper{
    display: flex;
    padding: 18px 19px 19px 17px;
    background-color: #20303f;
    align-items: center;
}
.userPhoto{
    border-radius: 50%;
    width: 32px;
    height: 32px;
}
.two{
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.two p:nth-child(1){
    font-family: "SF Pro Display";
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    color: #fff;
}
.two p:nth-child(2){
    font-family: "SF Pro Display"   ;
    font-weight: 500;
    font-size: 11px;
    line-height: 107%;
    color: #95979e;
    margin-left: 10px;
}
.MyButton{
    margin-left: auto;
}