.container {
  border-radius: 12px;
  padding: 15px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7px;
  background-color: #2ea5ff;
  cursor: pointer;
}
.container p {
  font-family: "SF Pro Display 600";
  font-weight: 600;
  font-size: 17px;
  color: #fff;
}