@import './Values/reset';
@import './Values/Values.scss';
@import './First/_FirstRem.scss';
@import './First/_TaskDetails.scss';
@import './AdCreating/AdCreating';
@import './Profile/Profile.scss';
@import './Balance/_Balance';
@import './MyAds/MyAds';
@import './First/Responce.scss';
@import './Shablon/shablon.scss';
@import './Cards/cards';
@import './Shablon/allShablons';
@import './savedPage/savedPage';
* {
    -webkit-tap-highlight-color: transparent;
    // overflow: hidden;
  }
  // html { height: 100%; overflow:auto; }
  // body { height: 100%; }
  // body {
  //   position: relative
  // }


html {overflow: auto; position: absolute; overflow-y: auto ; left: 0; top: 0; right: 0; bottom: 0;
 }
body { width: 100%; height: auto;  background: rgb(24, 34, 45); }
#app { width: 100%; height: auto; }

.UperContainer{
  position: relative;
  height: auto;
  width: 100%;
  // overflow: auto;
}

.MainContainer{
    background: rgb(24, 34, 45);
    max-width: 430px;
    transition: 0.5s;
    height: auto;
    overflow-x: hidden;
    position: relative;

}
.low-opacity{
  opacity: 0.5;
}
.intersaction-block{
  position: relative;
  bottom: 50px;
  width: 30px;
  height: 30px;
}
.aboutInfo__text{
  font-family: "SF Pro Display";
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  color: #fff;
}
.left-right-enter{
   transform: translateX(0%) !important;
   transition: 0.4s;
}
.left-right-enter-active{
  transform: translateX(0%) !important;
  transition: 0.4s;
}
.left-right-enter-done{
  transform: translateX(0%) !important;
  transition: 0.4s;
}
.left-right-exit{
  transform: translateX(0%) !important;
  transition: 0.4s;
}
.left-right-exit-active{
  transform: translateX(100%) !important;
  transition: 0.4s;
}
*::-webkit-scrollbar {display:none;}

.page-enter {
  opacity: 0;
  transform: scale(1.1);
}

.base-Popup-root{
  z-index: 2000000 !important;
}

.page-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

.page-exit {
  opacity: 1;
  transform: scale(1);
}

.page-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}
.aboutMe{
  position: fixed;
  background: rgb(24, 34, 45);
  top: 0%;
  width: calc(100% );
  z-index: 20;
}
.icon{
  border-radius: 50%;
}

.loaderBlock{
  display: flex;
  justify-content: center;
  align-items: center;
}




@keyframes anime{
  0%  {
      transform : translateX(20px)
  }
  20%  {
      transform : translateX(-20px)
  }
  40%  {
      transform : translateX(10px)
  }
  40%  {
      transform : translateX(-10px)
  }
  60%  {
      transform : translateX(5px)
  }
  80%  {
      transform : translateX(-5px)
  }
  100%  {
      transform : translateX(0px)
  }

}
.animut{
  animation: anime 10s;
}


// .slider-appear-enter{
//   opacity: 0;
//   transition: 0.3s;
// }
// .slider-appear-enter-active{
//   opacity: 1;
//   transition: 0.3s
// }
// .slider-appear-enter-done{
//   opacity: 1;
//   transition: 0.3s
// }
